/* Styles for the Advanced Markup assignment. */

/* Cross Page Styles */
h1 {
    font-family: 'Kirang Haerang', cursive;
    font-size: 64px;
    text-shadow: 2px 2px 7px #111111;
    border-style: ridge;
    padding: 15px;
}

#poe {
    float: center;
    font-size: 24px;
    padding-left: 20px;
}

body {
    /*background: #798285;*/
    background: #E0D1AF;
}

/* Index Styles */
ul.poem {
    list-style-type: none;
    font-family: 'Esteban', serif;
}

ul.poem:first-letter {
    font-size: 3rem;
}

/* About Page Styles */
dt {
    font-weight: 900;
}
.bio-photo {
    width: 25%;
    float: left;
    background: #F2E5C9;
    margin: 10px;
    padding: 5px;
    border: solid 1px;
}
.bio-photo img {
    width: 100%;
    height: auto;
}


/* Sidebar Styles */
#sidebar {
    float: right;
    width: 25%;
    /*background: #E0D1AF;*/
    background: #F2E5C9;
    margin: 20px;
    padding: 10px;
    border: solid 1px;
    
}

/* Navigation styles */
nav ul li {
    display: inline;
    border: solid 1px black;
    padding: 5px;
}

nav ul li:hover {
    background-color: black;
}

.active {
    font-weight: 900;
    background: #CCC09B;
    padding: 5px;
}

/* Table Styles */
table {
    width: 100%;
    text-align:left;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

tr.odd {
    background-color: #efefef;
}